@model IEnumerable<MDKAReservasi.Models.tblM_Ruangan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">
                                 @Html.ActionLink("Create New", "Create")
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- /.card -->
       
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NamaRuangan)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Lantai)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DayaTampung)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status_FK)
                                        </th>
                                        <th>Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NamaRuangan)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Lantai)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DayaTampung)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpdatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status_FK)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Ruangan_PK }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.Ruangan_PK }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.Ruangan_PK })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NamaRuangan)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Lantai)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DayaTampung)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedBy)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status_FK)
                                        </th>
                                        <th>Option</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->


</div>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
